// section1:carousel
.carousel1
    height: 80vh
.slider
    background-image: url(../img/slider.jpg)
    height: 80vh
    width: 100vw
    background-size: cover
.slider1
    background-image: url(../img/slider2.jpg)
    height: 80vh
    width: 100vw
    background-size: cover
.slider2
    background-image: url(../img/slider3.jpg)
    height: 80vh
    width: 100vw
    background-size: cover
// section2 
.section2
    display: flex
    justify-content: center
    padding-bottom: 5%
    .sec2-parent
        width: 75vw
        display: flex
        flex-direction: column
        align-items: center
        p
            padding-bottom: 2%
        img
            padding-bottom: 1%
        h3
            padding-inline: 25%
            text-align: center
            padding-bottom: 1%
        .sec2-child
            display: flex
            .sec-child1
                display: flex
                flex-direction: column
                align-items: center
                p
                    text-align: center
                    padding-top: 1%
                h4
                    padding-top: 2%
                    padding-bottom: 2%
                i
                    font-size: 220%
                    border: 1px solid gray
                    border-radius: 100%
                    padding: 8%
// section3
.bg
    background-color: black
    z-index: 3900
    .section3
        background-image: url(../img/bread-bg.jpg)
        background-size: cover

        .sec3-child
            width: 30%
// section4

// section7
.sec7-child2
    width: 80vw
// section8
.sec8-child2
    width: 85vw
// section9    
.section9
    background: blue
    .sec9-child
        background-image: url(../img/bread-bg.jpg)
        background-size: cover
// section11  
.form-textarea
    width: 100%
.form-select
    width: 17vw
    border: 1px solid black  
.sec11-child
    width: 50%
    .border-input
        border: 1px solid black  
        border-radius: 6px    
        width: 50%
        height: 50px
    .border-textarea    
        width: 100%
        height: 150px
        border-radius: 10px
// section12 
.sec12-child
    width: 90%


@media  ( max-width: 430px )
